<div class="center hero-unit">
  <h1>Welcome to Clash</h1>
  <h2>
    Where Champions Shine
  </h2>
  <% if user_signed_in? %>
    <!--TODO: ADD SOME COOL CONTENT FOR SIGNED IN USER-->
  <% else %>
    <%= link_to "SIGN UP NOW", new_user_registration_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>