<div class="center hero-unit">
  <% if user_signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <h1>
            <%= gravatar_for current_user %>
            <%= current_user.username %>
          </h1>
        </section>
      </aside>
    </div>
  <% else %>
    <h1>Welcome to Clash</h1>
    <h2>
      Where Champions Shine
    </h2>
    <%= link_to "SIGN UP NOW", new_user_registration_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>