<div class="center hero-unit">
  <h1>Welcome to Clash</h1>
  <h2>
    Where Champions Shine
  </h2>
  <%= link_to "SIGN UP NOW", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>